<a href="https://colab.research.google.com/github/levandreev/SLJ/blob/master/M5Walmart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

Run the cell below if you have the required datasets **locally** in the **data** folder

In [6]:
calendar = pd.read_csv('data/calendar.csv')
sell_prices = pd.read_csv('data/sell_prices.csv')
sales_train_eval = pd.read_csv('data/sales_train_evaluation.csv')
sales_train_val = pd.read_csv('data/sales_train_validation.csv')
sample = pd.read_csv('data/sample_submission.csv')

Run the cell if you **do not have** the required datasets and want them to load **remotely**

In [7]:
calendar = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/competitions/18599/1236839/calendar.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1593273380&Signature=U9Hvg48TY9D2HMmodlyA1gzGL9F1lMwo%2FyyKsz7Umr79cDGU8ToW9w34d3ChjmaCmyO0n2rVZtDe2ajYxjk5HWe1EIlTca2HbznUepNQkknPcrJgndbAwc1dQeZhRF%2FIbR7D2QuwI3rOBy%2BmjM9OgYMBDvNySORtShgXq%2FZAJQbRNQA3IzQ1TyRtGTncAAgryjUlljI0QCwjsa0VEXcUG6p%2FykahO%2FmUuYgqztROG7Xh5TlWGNfjacs24QguDZGbPY0sRW0KBzxVp9lfGSu7%2BPHcMfcgiOlTGqilqOqTbrBN13xIaqg6X7IVLczBHmneUK7RQwKoH%2B0htKXdn3GoGQ%3D%3D&response-content-disposition=attachment%3B+filename%3Dcalendar.csv')
sell_prices = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/compressed/sell_prices.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1593273974&Signature=FdlWKwiDP0jZOqSv1nYS0MAOsjmtUi47Nj%2BhWP%2BznvmohqRDCuZAWbuS5LBlOrvBo4eO0Q%2FWocER0eer6yi0iZNrkORfID2q2FSMMvHnr6YOZzE1Fs4sWY4s88FNVW956uuzWrqnDWEf8FjX0dQ%2Fxxv1u4ehRfhvLbKFBD0DENLq1qyn54l%2FSYCGdXorr%2BUeu%2Fd5irEzZ8bSbY%2F2Bj3MU1wIVWhcQ49wtMTyVflIQVqjZDxtcO7lcWwd7%2BNCuT%2BnaAW%2F29UO0U7h37N1d%2FdhwA0pvI6ARKlPLf5R98OCzYM%2FWYX%2B8oB9LhClWhXuz8upkLVe1quiT1ldPaz51NbRbA%3D%3D&response-content-disposition=attachment%3B+filename%3Dsell_prices.csv.zip')
sales_train_eval = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/compressed/sales_train_evaluation.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1593274049&Signature=Ixbf%2BcH0YbU4U8ZpCYzxv7bPjFNmmWgo69D%2BYLXO%2FWMhTi51mxpcvYpuep7ALmLWarFYu9DjFjYlFBKVARDTtJRa%2BMOkupn3uzBvnQTmmlp2NQOgkKDPv%2B0V3EXBRYFbHmrql%2BlWOVID8XCVcO47o%2BQAsWW5QEovsVv6o1C7SX822ufVhhAkl%2FsvrILCD52CqWhap39OJ94fWIBvAx54Qr1R9C7KNLYw8PzEBxwy93ePWI5VsJy%2BTImzEswHGnU8O%2Bv5Ci%2FDSUX9EwW7YuyGWr%2FR1N2CdstDNKdMhnkvbKfxl7Ys96a%2BxwdiKi5gjKaGbedJ%2Fgw7eDZW%2FONbyO%2F67w%3D%3D&response-content-disposition=attachment%3B+filename%3Dsales_train_evaluation.csv.zip')
sales_train_val = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/compressed/sales_train_validation.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1593274086&Signature=AXD5iMT%2FXnyPkL1E2JEUhNi7IvMwR8QbqWRf%2FndCxTXz6K5OXab5qlLO798g%2BmV6GoBuC86KVU0Zr5YVTB2Hmk%2BDBK8zOp86UwTBvk73Dsqjz%2F5EYdfQACqGjFodp6A%2BtW20ubzlFoFXQL%2BsOKv3CH6JuPhTmauXWEBWEbf0ii%2F3adBmSECBNkY2JXW3hvN2oMldFTnTyGfSgku4RFPMXEtukE44yaBJHWEkBCLU4bTG2r9u1lYE3dMz7Q5Zj%2F%2Fc85OIHTpapeeBe78TJWESyrJF9KMulqyDhMCQS%2BqEzP5e7Y4Nye3fTtmZDkO5vMV258otQqOtoo1SG%2BC6wZ1WnA%3D%3D&response-content-disposition=attachment%3B+filename%3Dsales_train_validation.csv.zip')
sample = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/compressed/sample_submission.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1593273473&Signature=nHhpli4t2TZSWipLFsPFi6Swcnc1b1ZpQTZM%2FQxu7Ch0UTTYRcl9R6aKxFp8qiOIFhkxLxdYp8H6qOCpL27UfurGbpT5ZksBmHSatqaVub%2FQ61DsnhP921BUSByEW%2BRGUVxBZJfTCpTfaiKSN5xDIQ9IpplDgfjSOGTckCwNW2IhQlXQYr4kcVOYcuoKwGlZ5KHk9A0sO3AnhO57kZx4osEAzu2HUEfuA9TF65I5Kz47stSI8ziwBuDMl2B8S9AQH%2FxrYy3Vo1jlwRv9NquO6s50nxxJ5v9KyLNgaS6Vav0CLwczDH3kPE1vdNjE%2FK%2FSbEzWWQTH644gg5YCGwAYqA%3D%3D&response-content-disposition=attachment%3B+filename%3Dsample_submission.csv.zip')

In [10]:
sample.tail(5)

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0